<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="de.noltarium.jukebox.rest" />


	<bean id="fileTypeChecker" class="de.noltarium.jukebox.util.FileTypeCheckerImpl" />
	<bean id="playList" class="de.noltarium.jukebox.model.PlayList" />

	<bean id="playListManager" class="de.noltarium.jukebox.playlist.PlayListManagerImpl">
		<constructor-arg name="playList" ref="playList" />
	</bean>

	<bean id="musicManager" class="de.noltarium.jukebox.MusicManagerImpl">
		<property name="playList" ref="playList" />
	</bean>

	<bean id="playListMapper" class="de.noltarium.jukebox.util.PlayListMapperImpl">
		<property name="mapper" ref="dozerMapper" />
	</bean>

	<bean id="dozerMapper" class="org.dozer.DozerBeanMapper">
		<property name="mappingFiles">
			<list>
				<!-- <value>dozer-global-configuration.xml</value> -->
				<value>mapping.dozer.xml</value>
			</list>
		</property>
	</bean>

</beans>